<h1>Agregar</h1>

<p>Descripcion: <input type="text" [(ngModel)]="art.descripcion" /></p>

<p>Precio: <input type="number" [(ngModel)]="art.precio" /></p>
<p>
  <button (click)="Agregar()">Agregar</button>
  <button (click)="Modificar()">Modificar</button>
</p>

<!-- <h1>Listado</h1>
<div *ngFor="let art of articulos">
  <p>{{ art.codigo }}, {{ art.descripcion }},{{ art.precio }}</p>
</div> -->

<tr *ngFor="let art of articulos">
  <td>{{ art.codigo }}</td>
  <td>{{ art.descripcion }}</td>
  <td>{{ art.precio }}</td>
  <td><button (click)="Eliminar(art.codigo)">Borrar</button></td>
  <td><button (click)="Seleccionar(art.codigo)">Seleccionar</button></td>
</tr>

<router-outlet></router-outlet>
